
@{

}
<environment names="Development">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/img/icon/icon-title.png" />
    <link rel="stylesheet" href="/css/style/base.css">
    <link rel="stylesheet" href="/css/style/login.css">
</environment>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreams Store - Login</title>
</head>
<body>
    <div class="main__login">
        <h2>Welcome to</h2>
        <h1>DREAMS STORE</h1>
        <form action="">
            <div class="main__login-box">
                <input type="text" name="" id="" placeholder="Username">
                <input type="password" name="" id="" placeholder="Password">
            </div>
            <div class="main__login-remember">
                <input type="checkbox" name="" id="check-remember">
                <label for="#check-remember"><em>Remember me</em></label>
                <a asp-action="ResetPassword">Forgot password?</a>
            </div>
        </form>
        <input type="submit" value="LOGIN">
        <p>Don't have an account? <a asp-action="Register">Register now!</a></p>
    </div>
</body>
</html>
