@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="main__login">
    <h2>Welcome to</h2>
    <h1><a asp-controller="Client" asp-action="Home">DREAMS STORE</a></h1>
    <form id="login-form">
        <div class="main__login-box">
            <input type="email" name="email" class="input-decor" onkeypress="enterLogin()" placeholder="Username" >
            <p id="email_msg" class="text-msg-error"></p>
            <input type="password" name="password" class="input-decor" onkeypress="enterLogin()" placeholder="Password">
            <p id="password_msg" class="text-msg-error"></p>
        </div>
        <div class="main__login-remember">
            @*<input type="checkbox" name="" id="check-remember">
            <label for="#check-remember"><em>Remember me</em></label>*@
            <a asp-action="ResetPassword" style="margin-left: 105px">Forgot password?</a>
        </div>
    </form>
    <input type="submit" value="LOGIN"  onclick="login()">
    <p>Don't have an account? <a asp-action="Register">Register now!</a></p>
</div>
