@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<environment names="Development">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/icon/icon-title.png" />
    <link rel="stylesheet" href="~/css/style/base.css" />
    <link rel="stylesheet" href="~/css/style/login.css" />
</environment>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreams Store - Reset Password</title>
    <link rel="shortcut icon" type="image/x-icon" href="./assets/img/icon/icon-title.png" />
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/login_register.css">
    <link rel="stylesheet" href="./assets/css/responsive.css">
</head>
<body>
    <div class="main__login">
        <h2>Welcome to</h2>
        <h1>DREAMS STORE</h1>
        <form action="">
            <div class="main__login-box">
                <input type="email" name="" id="" placeholder="Email">
                <input type="tel" pattern="[0-9]{10}" name="" id="" placeholder="Phone number">
            </div>
        </form>
        <input type="submit" value="RESET PASSWORD">
        <p>Have an account? <a asp-action="Login">Login now!</a></p>
    </div>
</body>
</html>