@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="main__login">
    <h2>Welcome to</h2>
    <h1><a asp-controller="Client" asp-action="Home">DREAMS STORE</a></h1>
    <form action="">
        <div class="main__login-box">
            <input type="email" name="" id="" class="input-decor" placeholder="Email">
            <input type="tel" pattern="[0-9]{10}" name="" id="" class="input-decor" placeholder="Phone number">
        </div>
    </form>
    <input type="submit" value="RESET PASSWORD">
    <p>Have an account? <a asp-action="Login">Login now!</a></p>
</div>