@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="main__login">
    <h2>Welcome to</h2>
    <h1><a asp-controller="Client" asp-action="Home">BICYCLE STORE</a></h1>
    <form id="reset-password-form">
        <div class="main__login-box">
            <input type="email" name="email" class="input-decor" placeholder="Email" oninput="this.value=this.value.toLowerCase()">
            <p id="email_msg" class="text-msg-error"></p>
            <input type="tel" oninput="this.value = phoneFormat(this.value)" name="phoneNumber" id="" class="input-decor" placeholder="Phone number">
            <p id="phonenumber_msg" class="text-msg-error"></p>
        </div>
    </form>
    <input type="submit" value="RESET PASSWORD" onclick="resetPassword()">
    <p>Have an account? <a asp-action="Login">Login now!</a></p>
</div>