@model ShopOnline.Core.Models.Staff.StaffCreateViewModel
@{
    ViewData["Title"] = "Create Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a>Management Staff</a></li>
                <li class="breadcrumb-item active" aria-current="page">Create Manager</li>
            </ol>
        </nav>
        <h2 class="h4">Create Manager</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">General information</h2>
            <form enctype="multipart/form-data" id="create-manager-form">
                <div class="form-group" style="display:flex ; justify-content:center">
                    <div class="card-img" style="position:relative;">
                        @*<img src="@(Model.staffCreate.Avatar != null? Url.Content("/img"+Model.staffCreate.Avatar) :"/img/Avatar/avatar-icon-images-4.jpg")" height="200" width="200" id="previewImg" style="margin-left: auto; width:*@
                        <img src="@(Model.StaffCreate.Avatar != null? Url.Content(Model.StaffCreate.Avatar) :"/img/Avatar/avatar-icon-images-4.jpg")" id="output" height="200" width="200"
                             style="margin-left: auto; width: 100%; margin-right: auto; max-width: 200px; display: block;" />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Full Name</label>
                            <input asp-for="StaffCreate.FullName" class="form-control" type="text" placeholder="Enter your full name">
                            <span asp-validation-for="StaffCreate.FullName" class="text-danger" id="Err_FullName"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="last_name">Phone Number</label>
                            <input asp-for="StaffCreate.PhoneNumber" class="form-control" type="text" placeholder="Enter your phone number">
                            <span asp-validation-for="StaffCreate.PhoneNumber" class="text-danger" id="Err_PhoneNumber"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input asp-for="StaffCreate.Email" class="form-control" type="email" placeholder="Enter your mail@gmail.com">
                            <span asp-validation-for="StaffCreate.Email" class="text-danger" id="Err_Email"></span>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <span class="text-danger" id="emailAlready"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Role</label>
                        <input class="form-control" value="Manager" disabled />
                        <input asp-for="StaffCreate.TypeAcc" value="5" hidden />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label for="address">Choose Avatar</label>
                            <input asp-for="StaffCreate.UploadAvt" type="file" accept="image/*" class="form-control" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 mb-3">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input class="form-control" asp-for="StaffCreate.Address" id="address" type="text" placeholder="Enter your home address">
                        </div>
                    </div>
                </div>
                <h2 class="h5 my-4">Password Info</h2>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="main__register-check-password">
                            <label>Password</label>
                            <input asp-for="StaffCreate.Password" type="password" id="password" class="form-control input-decor" oninput="strengthChecker()" placeholder="Enter password">
                            <span asp-validation-for="StaffCreate.Password" class="text-danger" id="Err_Password"></span>
                            <div id="strength-bar"></div>
                        </div>
                        <p id="password_msg" class="text-msg-error"></p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="main__register-check-password">
                            <label>Confirm Password</label>
                            <input asp-for="StaffCreate.ConfirmPassword" id="confirm-password" class="form-control input-decor" oninput="checkPassword()" type="password" placeholder="Confirm pasword">
                            <span asp-validation-for="StaffCreate.ConfirmPassword" class="text-danger" id="Err_ConfirmPassword"></span>
                        </div>
                        <p id="confirmpassword_msg" class="text-msg-error"></p>
                    </div>
                </div>
                <p id="msg"></p>
                <div class="mt-3">
                    <button type="submit" class="btn btn-gray-800 mt-2 animate-up-2">Save all</button>
                </div>
            </form>
        </div>
    </div>
</div>


