@model ShopOnline.Core.Models.Staff.StaffEditViewModel
@{
    ViewData["Title"] = "Update Manager";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a asp-action="Index">Staff Management</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update Manager</li>
            </ol>
        </nav>
        <h2 class="h4">Update Manager</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">General information</h2>
            <form enctype="multipart/form-data" id="edit-manager-form">
                <div class="form-group" style="display:flex ; justify-content:center">
                    <div class="card-img" style="position:relative;">
                        @*<img src="@(Model.staffCreate.Avatar != null? Url.Content("/img"+Model.staffCreate.Avatar) :"/img/Avatar/avatar-icon-images-4.jpg")" height="200" width="200" id="previewImg" style="margin-left: auto; width:*@
                        <img src="@(Model.StaffEdit?.Avatar != null? Url.Content(Model.StaffEdit.Avatar) :"/img/Avatar/avatar-icon-images-4.jpg")" id="output" height="200" width="200" style="margin-left: auto; width: 100%; margin-right: auto; max-width: 200px; display: block;" />
                        <br />

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3" hidden>
                        <div>
                            <label>Id Manager</label>
                            <input asp-for="StaffEdit.Id" class="form-control" type="text">
                            <span asp-validation-for="StaffEdit.Id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Full Name</label>
                            <input asp-for="StaffEdit.FullName" class="form-control" type="text" placeholder="Enter your full name">
                            <span asp-validation-for="StaffEdit.FullName" class="text-danger" id="Err_FullName"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="last_name">Phone Number</label>
                            <input asp-for="StaffEdit.PhoneNumber" class="form-control" type="text" placeholder="+84 345 678 910">
                            <span asp-validation-for="StaffEdit.PhoneNumber" class="text-danger" id="Err_PhoneNumber"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input asp-for="StaffEdit.Email" class="form-control" type="email" placeholder="name@company.com" readonly>
                            <span asp-validation-for="StaffEdit.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label>Role</label>
                        <input class="form-control" value="Staff" disabled />
                        <input asp-for="StaffEdit.TypeAcc" value="2" hidden />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label for="address">Choose Avatar</label>
                            <input asp-for="StaffEdit.UploadAvt" type="file" accept="image/*" class="form-control" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                    </div>
                </div>
                <h2 class="h5 my-4">Location</h2>
                <div class="row">
                    <div class="col-sm-9 mb-3">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input class="form-control" asp-for="StaffEdit.Address" id="address" type="text" placeholder="Enter your home address">
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-gray-800 mt-2 animate-up-2">Save all</button>

                </div>
            </form>
        </div>
    </div>
</div>