html {
    background-color: #888;
}

.main__login {
    width: 360px;
    top: 50%;
    right: 50%;
    background-color: #fff;
    position: absolute;
    transform: translate(50%, -50%);
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
}

    .main__login h2,
    .main__login h1 {
        text-align: center;
        margin-top: 20px;
    }

    .main__login h2 {
        font-size: 18px;
        padding-top: 30px;
        font-weight: 700;
    }

    .main__login h1 {
        font-size: 32px;
        font-weight: 1000;
    }

.main__login-box {
    width: 360px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    .main__login-box input {
        width: 280px;
        height: 40px;
        font-size: 14px;
        margin-top: 30px;
        border-bottom: 1px solid #ccc;
        outline: none;
    }

        .main__login-box input:hover {
            border-bottom: 1px solid #000;
        }

.main__login-remember {
    margin-top: 30px;
    display: flex;
    margin-left: 40px;
}

    .main__login-remember input {
        height: 17px;
        width: 17px;
    }

        .main__login-remember input:hover {
            cursor: pointer;
        }

        .main__login-remember input[type=checkbox]:checked {
            color: #666;
        }

    .main__login-remember label {
        font-size: 13px;
        color: #777;
        padding-top: 2px;
        padding-left: 4px;
    }

    .main__login-remember a {
        font-size: 13px;
        width: 170px;
        text-align: right;
        padding-top: 2px;
        font-style: italic;
    }

.main__login > input[type=submit] {
    height: 40px;
    width: 280px;
    margin-left: 40px;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
}

    .main__login > input[type=submit]:hover {
        opacity: 0.8;
        cursor: pointer;
    }

.main__login > p {
    margin-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

    .main__login > p:hover {
        cursor: default;
    }

.main__login a {
    color: #000;
    text-decoration: none;
}

    .main__login a:hover {
        cursor: pointer;
        opacity: 0.7;
    }

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #888;
    font-family: 'Roboto', sans-serif;
}

.main__register {
    background-color: #ffffff;
    width: 360px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .main__register h2,
    .main__register h1 {
        text-align: center;
        padding-top: 10px;
    }

    .main__register h2 {
        font-size: 18px;
        padding-top: 40px;
        font-weight: 700;
    }

    .main__register h1 {
        font-size: 32px;
        font-weight: 1000;
    }

    .main__register > p {
        font-size: 16px;
        font-weight: 550;
        text-align: center;
        padding-top: 30px;
    }

input {
    font-size: 14px;
}

form {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

    form > input,
    #confirm-password {
        width: 280px;
        height: 40px;
        margin: auto;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
    }

        form input:hover,
        #confirm-password:hover {
            border-bottom: 1px solid #000;
        }

.main__register input[type="submit"] {
    background-color: #000;
    width: 280px;
    height: 40px;
    margin-bottom: 20px;
    opacity: 0.9;
    color: #fff;
    margin-top: 30px;
    border-radius: 5px;
    letter-spacing: 2px;
    outline: none;
    border: none;
}

    .main__register input[type="submit"]:hover {
        cursor: pointer;
        opacity: 0.7;
    }

.main__register-check-password {
    width: 280px;
    position: relative;
    margin: auto;
    margin-top: 20px;
}
    .main__register-check-password:first-child {
        margin-top: 30px;
    }

    .main__register-check-password > input {
        width: 100%;
        height: 40px;
        position: relative;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
    }

#toggle,
#toggle1,
.red-star {
    position: absolute;
    top: 17px;
    right: 15px;
    color: #808080;
    cursor: pointer;
}

.strength {
    width: 25%;
    display: inline-block;
    position: relative;
    height: 100%;
    bottom: 0.5px;
}

#strength-bar {
    background-color: #dcdcdc;
    height: 10px;
    position: relative;
}

p {
    width: 100%;
    margin-top: 10px;
}

#msg, #check-confirm-pass {
    color: #888;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    text-align: left;
    margin-left: 40px;
}

#check-confirm-pass {
    display: none;
}

.main__register h3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #666;
}

.main__register a {
    text-decoration: none;
    color: #000;
}

    .main__register a:hover {
        cursor: pointer;
        opacity: 0.7;
    }

#strength-bar {
    display: none;
}

.text-msg-error {
    color: red;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    text-align: left;
    margin-left: 40px;
}

.input-decor{
    padding-left: 10px;
}

/*#region list Id element error */

#email_msg, #password_msg {
    display: none
}


.red-star {
    color: #ff1a1a;
    font-size: 20px;
}

/*#endregion*/
