* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

:root {
    --white-color: #fff;
    --back-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

    html::-webkit-scrollbar {
        width: 10px;
    }

    html::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    html::-webkit-scrollbar-thumb {
        background: #888;
    }

        html::-webkit-scrollbar-thumb:hover {
            background-color: #333;
        }

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Update 25/11 */
.main {
    min-height: 400px;
}