@{
    ViewData["Title"] = "Momo Payment";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@model ShopOnline.Core.Models.Client.OrderInfor

<div class="main__payment">
    <h1>PAYMENT METHODS</h1>
    <p>Please check your orders</p>
    <div class="main__payment-review">
        <table>
            <tr>
                <th>Address</th>
                <th>@Model.Addess</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>@Model.FullName</th>
            </tr>
            <tr>
                <th>Number phone</th>
                <th>@Model.Phone</th>
            </tr>
            <tr>
                <th>Code orders (Note)</th>
                <th>#@Model.Id</th>
            </tr>
            <tr>
                <th>Total</th>
                <th>@string.Format("{0:N0}", ((Int64)Model.PriceVND))<span>đ</span></th>
            </tr>
        </table>
        <img src="~/img/icon/momopay.jpg" alt="">
    </div>
    <div class="main__payment-img">
        <img src="~/img/icon/instruct.png" alt="Alternate Text" />
    </div>
    <div class="main__payment-selected-btn">
        <input type="submit" value="Completed">
    </div>
</div>
